/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root.theme-dark {
  --page-bg-image: url('../images/cover-image-dark.png');
  --bg-color: #000028;
  --accent-color: #FF0070;
  --title-color: #DB00ff;
  --text-color: #F1B2CE;
  --func-color: #FF0070 ;
  --REC:block
}
@media (prefers-color-scheme: dark) {
  :root{
  --page-bg-image: url('../images/cover-image-dark.png');
  --bg-color: #000028;
  --accent-color: #FF0070;
  --title-color: #DB00ff;
  --text-color: #F1B2CE;  
  --func-color: #FF0070 ;
  --REC: block;
  }
}