/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --page-bg-image: url('../images/cover-image-light.png');
  --bg-color: #FFF1F7;
  --accent-color:#FF8DCB;
  --title-color: #FFC2E6;
  --text-color:  #353430;
  --func-color: #353430;
  --rec: none;
  --text-title-color: #353430;
  --button-hover: rgba(53, 52, 48, 0.4);
}

@media (prefers-color-scheme: light) {
  :root{
  --page-bg-image: url('../images/cover-image-light.png');
  --bg-color: #FFF1F7;
  --accent-color:#FF8DCB;
  --title-color: #FFC2E6;
  --text-color:  #353430;
  --func-color: #353430;
  --rec: none;
  --text-title-color: #353430;
  --button-hover: rgba(53, 52, 48, 0.4);
  }
}