/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root{
  --page-bg-image: url('../images/cover-image-dark.png');
  --bg-color: #000028;
  --accent-color: #FF0070;
  --title-color: #DB00ff;
  --text-color: #F1B2CE;
  --regular-font-size: 18px ;
  --small-font-weight: 400;
  --large-font-weight: 700;
  --rectangle-size: 25px; 
  --font: 'IBM Plex Mono';
  --REC-color: var(--accent-color);
  --func-color: var(--accent-color);
  --small-padding: 10px;
  --REC: block;
}

